

.nav-links li a{
    color:white;
    text-decoration: none;
  }

  

@media screen and (min-width:100px){
    
    nav{
        height: 10vh;
        background: #5b78c7;
        position: relative;
        
      }

      .hamburger{
          position: absolute;
          cursor: pointer;
          right: 5%;
          top: 50%;
        transform: translate(-5%, -50%);
        z-index: 2;

      }
      .line{
          width: 30px;
          height: 3px;
          background: white;
          margin: 5px;
      }

    .nav-links{
        background: #5b78c7;
        position: fixed;
        display: flex;
        height: 100vh;
        width: 100%;
        flex-direction: column;
        justify-content: center;
        justify-content: space-around;
        align-items: center;
        list-style: none;
        clip-path: circle(100px at 90% -10%);
        -webkit-clip-path: circle(100px at 90% -10%);
        transition: all 1s ease-out;
    }
    .nav-links.open{
        clip-path: circle(1000px at 90% -10%);
        -webkit-clip-path: circle(1000px at 90% -10%);
    }
    .nav-links li a{
        font-size: 18px;
      }
}



@media screen and (min-width:768px) {

    nav{
        height: 10vh;
        background: #5b78c7;
        
      }
      .line{
          display: none;
      }
      
      .nav-links{
        position: relative;
        display: flex;
        flex-direction: row;
        width: 50%;
        /* background: lightcoral; */
        height: 100%;
        justify-content: space-around;
        align-items: center;
        margin-left: auto;
        clip-path: none;
        -webkit-clip-path: none;
      }
      
      .nav-links li a{
        color:white;
        text-decoration: none;
        font-size: 18px;
      }
      .nav-links{
        list-style: none;
    }
    
 }  

